/* 
  전체 기본 설정
*/

/* 기본 div */
.cont{width:80%;margin:0 auto;height:100%;}
.rows{width:100%;display:flex;flex-direction:column;min-height:200px;}
.rows > div{width:100%;}
.dflex{display:flex;}
.jc-center{justify-content:center;}
.jc-start{justify-content:flex-start;}
.jc-end{justify-content:flex-end;}
.jc-between{justify-content:space-between;}
.jc-around{justify-content:space-around;}
.ai-center{align-items:center}
.ai-start{align-items:flex-start}
.ai-end{align-items:flex-end}
.jcai-center{justify-content: center;align-items:center;}
.fd-column{flex-direction:column}



/* 테이블 */
.table{border-collapse: collapse;width:100%;}
.table th,.table td{border:1px solid #cecece;}
.table th{width:20px;background:#efefef;}
.table td{width:20px;text-align:center;padding:5px;}

/* 입력폼 */
.input_txt{border:1px solid #cecece;border-radius:5px;width:80%;padding-left:5px;height:30px;font-size:16px;outline:none;}
.btn{width:80px;height:40px;border:1px solid #acacac;background:#efefef;border-radius:5px;font-weight:700;cursor:pointer;}
.btn-add{background:#3b3bfc;border:1px solid #3b3bfc;color:#fff;}
.btn-add:hover{background:#fff;color:#3b3bfc;}
.btn-outline-add{background:#fff;border:1px solid #3b3bfc;color:#3b3bfc;}
.btn-outline-add:hover{background:#3b3bfc;color:#fff;}
.btn-edit{background:#08aa13;border:1px solid #08aa13;color:#fff;}
.btn-edit:hover{background:#fff;color:#08aa13;}
.btn-outline-edit{background:#fff;border:1px solid #08aa13;color:#08aa13;}
.btn-outline-edit:hover{background:#08aa13;color:#fff;}
.btn-delete{background:#ff003b;border:1px solid #ff003b;color:#fff;}
.btn-delete:hover{background:#fff;color:#ff003b;}
.btn-outline-delete{background:#fff;border:1px solid #ff003b;color:#ff003b;}
.btn-outline-delete:hover{background:#ff003b;color:#fff;}

.readonly{border:0;background-color:transparent;}



/* 
  페이지 별 설정
*/

#exp1{width:100%;height:100vh;}
#exp1 .table_title{font-size:25px; margin-bottom:15px;font-weight:700;color:#777;}
#exp1 .sss_cont{border:1px solid #cecece;padding:2rem 3rem;margin-top:20px;}
#exp1 .sss_table{width:100%;flex-flow:wrap}
#exp1 .sss_table > div{display:block;width:80px;border:1px solid #cecece;text-align:center;}
#exp1 .sss_table > div > div{padding:5px;}
#exp1 .sss_table .sss_th{background:#efefef;height:auto;}
#exp1 .sss_table .sss_th > div:nth-child(2){border-bottom:1px solid #cecece;border-top:1px solid #cecece;height:35px;}
#exp1 .sss_table .sss_th > div:last-child{height:35px;}
#exp1 .sss_table .sss_td .title{border-bottom:1px solid #cecece;background:#fcefef}
#exp1 .sss_table .sss_td .count{border-bottom:1px solid #cecece;}
#exp1 .sss_table .sss_td .count input{text-align:center;}
#exp1 .sss_table .sss_td .amount{border-top:1px solid #cecece;}
#exp1 .input_txt{text-align:center;}
#exp1 .input_div{text-align:left;padding:15px 0;}
#exp1 .input_div .btn-outline-edit{width:200px;}

#exp1 .step_cont{margin:50px 0;border:1px solid #cecece;padding:2rem 3rem;}
#exp1 .step_div{width:60%;}
#exp1 .add_step,#exp1 .step_title,#exp1 .step_name{width:100%;}
#exp1 .add_step{margin-bottom:10px;}
#exp1 .step_div .add_step > div,
#exp1 .step_div .step_title > div,
#exp1 .step_div .step_name > div{width:25%;padding:5px;text-align:center;}
#exp1 .step_div .add_step > div{padding:0;text-align:left;}
#exp1 .step_div .add_step > div input[type="text"]{text-align:left;font-size:14px;}
#exp1 .step_div .step_title{background:#fcefef;border:1px solid #cdcdcd;border-left:0;}
#exp1 .step_div .step_title > div{border-left:1px solid #cdcdcd;}
#exp1 .step_div .step_name{border:1px solid #cdcdcd;border-top:0;}
#exp1 .step_div .step_name .btn{width:60px;height:30px;}
#exp1 .step_div .step_name:nth-child(even){background:#efefef;}


#exp1 .search_cont{border:1px solid #cecece;padding:2rem 3rem}
#exp1 .search_cont .search_row input{width:auto;}
#exp1 .search_cont .pado{margin:0 20px;}
#exp1 .search_cont .sbtn_div{width:120px;}
#exp1 .search_cont .sbtn_div .btn{width:100px;}


#exp1 .memcnt_cont{margin-top:10px;margin-bottom:10px;border:1px solid #cecece;padding:2rem 3rem}
#exp1 .memcnt_cont .table_title .btn{margin-left:20px;}
#exp1 .memcnt_cont .memcnt_row {display:inline-block}
#exp1 .memcnt_cont .memcnt_row .memcnt_div{text-align:center;display:inline-block;width:80px;margin-bottom:5px;}
#exp1 .memcnt_cont .memcnt_row .memcnt_title{border-top:1px solid #cecece;border-bottom:1px solid #cecece;border-right:1px solid #cecece;background:#fcefef;padding:5px;}
#exp1 .memcnt_cont .memcnt_row .memcnt_value{border-bottom:1px solid #cecece;border-right:1px solid #cecece;padding:5px;}
#exp1 .memcnt_cont .memcnt_row .memcnt_div:first-child .memcnt_title{border-left:1px solid #cecece;}
#exp1 .memcnt_cont .memcnt_row .memcnt_div:first-child .memcnt_value{border-left:1px solid #cecece;}


#exp1 .sum_cont{border:1px solid #cecece; padding:2rem 3rem;margin-bottom:30px;}
#exp1 .sum_cont .table_title .btn{margin-left:20px;}
#exp1 .sum_cont .month_row{display:inline-block}
#exp1 .sum_cont .month_row .month_div{display:inline-block;width:80px;margin-bottom:5px;border:1px solid #cecece;padding:0;}
#exp1 .sum_cont .month_row .month_title{border-bottom:1px solid #cecece;border-right:1px solid #cecece;background:#fcefef;width:100%;height:25px;}
#exp1 .sum_cont .month_row .month_value{width:100%;height:25px;}
#exp1 .sum_cont .month_row .month_div .month_value:nth-of-type(2){border-bottom:1px solid #cecece;}



