* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SUITE-Regular', sans-serif;
  
}

/* 
  출처 : 눈누 사이트 (https://noonnu.cc/font_page/1150)
  해당폰트들은 웹사이트에서 사용 가능한 라이센스라서 문제없음.
*/

@font-face { /* 영덕바다체 폰트 적용 */
  font-family: "YDSea";
  src: url("/files/font/BusanSea.ttf") format("truetype");
  font-weight: normal;
}
@font-face { /* 스위트체 폰트 적용  */
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body{min-height:100vh;}
#main{width:100%;min-height:84vh;min-width:220px;padding-top:0px;}
@media (max-width:1200px){
  #main{padding-top:50px;}
}
.footer{min-width:230px;}
.content{padding:1rem;height:100%;}
.page_title{font-size:2rem;margin-top:20px;margin-bottom:50px;}
.page_title div{border-bottom:1px solid #444;width:150px;}
.txt-input,.sel-select{border:1px solid #CECECE;padding:.5rem;color:#777;box-shadow:1px 1px #eee;width:100%;outline:none;}
.input_file{display:none}
.btn{border:1px solid #CECECE; border-radius:5px; width:100%;height:100%;font-size:1rem;cursor:pointer}
.btn-ok{background:#1e8cec;color:#fff}
.btn-ok:hover{border:1px solid #0580ec;font-size:1rem;font-weight:700;}
.btn-no{background:#ef1c1c;color:#fff}
.btn-no:hover{border:1px solid #ef1c1c;font-size:1rem;font-weight:700;}
.btn-info{background:#37ad3f;color:#fff}
.btn-info:hover{border:1px solid #37ad3f;font-size:1rem;font-weight:700;}
.btn-warning{background:#eef168;}
.btn-warning:hover{border:1px solid #eef168;font-size:1rem;font-weight:700;}
.d-flex{display:flex}
.wv-1{width:100%;}
.wv-2{width:50%;}
.wv-3{width:33.33333%}
.wv-4{width:25%;}
.wv-5{width:20%;}
.wv-6{width:16.44444%}
.redcircle{background:#0C76F7;width:10px;height:10px;border-radius:50%;}
.nadding{border:0;text-align:center;padding-top:50px !important;padding-bottom:50px !important;font-size:1.5rem;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.row .row_title{display:flex;align-items: center;}
.row .row_title span{font-size:.5rem;}

form{width:100%;}
.error{color:red}
.readonly{border:0;box-shadow:0px 0px #fff;}
.pcursor{cursor:pointer;}
.backblack{position:fixed;top:0;left:0;width:100%;height:100%;z-index:500;background:#000;opacity:0.3;display:none;}


/*
  header footer
*/
nav{background:#040000;align-items: center;width:100%;height:auto;min-width:220px;}
.mobi{display:none;position:fixed;z-index:400;}
nav a{text-decoration: none;color:#fff; cursor:pointer}
nav .logo_div{width:250px}
nav .logo_div img{width:100%;}
nav .nav_div{width:72%;color:#fff;justify-content: center;align-items:center;height:auto;}
nav .nav_div > div{display:flex;align-items:center;margin-right:50px;font-weight:700;font-size:1.4rem;height:100%;cursor:pointer;}
nav .nav_div .active{border-bottom:2px solid #E6002D !important}
nav .nav_div .dactive{color:#E6002D}
nav .nav_div .menu4{position:relative;border-bottom:2px solid #000;}
nav .nav_div .menu4_drop{position:absolute;top:30px;left:0;width:200px; height:100px;flex-direction: column;background:#040000;display:none;}
nav .nav_div .menu4_drop_line{width:100%;font-size:1rem;font-weight:normal;margin:0;height:40px;padding-left:20px;padding-top:20px;}

nav .acc_div{width:10%;height:100%;color:#eee;justify-content: space-around;align-items: center;lex-direction: column;}
nav .acc_div .aname{font-weight:700;color:#fff;}
nav .acc_div .lout{margin-top:5px;text-decoration: underline;cursor:pointer;font-size:.8rem;margin-bottom:5px;}
.footer{width:100%;height:30px;background:#040000;color:#ccc;margin-top:10px;justify-content: center;align-items: center;}


@media (max-width:1200px){
  .notmobi{display:none;}
  .mobi{display:flex;flex-direction:column;}
  .mobi .logo_div img{width:250px; cursor:pointer}
  .mobi .acc_div img{width:50px; cursor:pointer}
  .mobi .top_div{width:100%;height:100%;display:flex;justify-content: space-between;align-items: center;}
  .mobi .acc_div{align-items: center;justify-content: center; display:flex;}

  .mobi .nav_div{display:none;width:100%;height:auto; max-height:800px;background:#040000;}
  .mobi ul{list-style:none;}
  .mobi ul li{width:100%;text-align:center;display:block;align-items:center; border-top:1px solid #CECECE;line-height:60px;font-size:1.3rem;}
  .mobi ul li a{cursor:pointer;}
  .mobi ul .mmenu5{font-size:1rem;}
  .mobi ul li .lout{margin-left:50px;cursor:pointer;}
  
  .mobi .mmenu4 .mmenu4_drop{width:100%;display:none;}
  .mobi .mmenu4 .mmenu4_drop li:first-child{border-bottom:1px dotted #CECECE;}
  .mobi .mmenu4 .mmenu4_drop li:nth-child(2){border:0;}
  /* .mobi .mmenu4 .mmenu4_drop li:last-child{border-top:1px dotted #CECECE;} */
  .mobi .mmenu4 .mmenu4_drop li{font-size:1rem;}
  .mobi .mmenu4 .mmenu4_drop li a{cursor:pointer}
  
}

@media (max-width:768px){
  .mobi .logo_div img{width:180px;}
  .mobi .acc_div img{width:35px;} 
}

@media (max-width:400px){
  .mobi .logo_div img{width:180px;}
  .mobi .acc_div{width:20%;}
}

#accountList,#logList,#mooniList,#portpolList,#portpolReg,#mailList{width:80%;min-width:210px;margin:0 auto;min-height:90vh;}
#accountReg,#mailSend{width:50%;min-width:210px;margin:0 auto;}

/*
  로그인 화면
*/
#logIn{width:100%;height:100vh;background:#040000}
#logIn .content{position:relative;width:100%;height:100%;}
#logIn .login_div{
  position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);border:1px solid #222;max-width:500px;min-width:200px;height:320px;
  width:40%;padding:2rem;border:2px solid #CECECE;border-radius:10px;
}
#logIn .login_div .cont_div{flex-direction: column;}
#logIn .login_div .top_div{align-items:center;justify-content: center;}
#logIn .login_div .top_div img{width: 250px;min-width:150px;}
#logIn .login_div .top_div p{color:#eee;font-size:28px;font-weight:700;margin:0;margin-top:-5px;}
#logIn .login_div .left_div{flex-direction:column;width:100%}
#logIn .login_div .left_div .left_cont{display:flex;margin-top:20px;}
#logIn .login_div .left_div .left_cont .head{display:flex;color:#fff;width:80px;text-align:right;align-items:center}
#logIn .login_div .left_div .left_cont .head span{width:100%;}
#logIn .login_div .left_div .left_cont .inputd{margin-left:20px;width:60%;}
#logIn .login_div .left_div .left_cont .inputd input{border:0;}
#logIn .login_div .right_div{margin-top:30px;justify-content: space-between;flex-direction: column;align-items: center;}
#logIn .login_div .right_div p{color:#888;margin-top:18px;}
#logIn .login_div .right_div a{color:#CCC;}
#logIn .login_div .right_div button{width:30%;height:45px;border:0;}

/*비밀번호 찾기*/
#logIn .login_div .desc_div{width:100%;color:#fff;margin-top:30px;align-items: flex-start;justify-content: center;flex-direction: column;margin-bottom:10px;}

@media (max-width:1010px){
  #logIn .login_div{width:60%;}
  /* #logIn .login_div .top_div img{width: 62%;}
  #logIn .login_div .top_div p{font-size:25px;margin-top:-2px;} */
}
@media (max-width:768px){
  #logIn .login_div{top:44%;width:66%;}
  #logIn .login_div .top_div p{font-size:20px;}
}
@media (max-width:600px){
  #logIn .login_div{top:42%;}
  #logIn .login_div{height:380px;}
  #logIn .login_div .top_div{flex-direction:column}
  #logIn .login_div .top_div img{width: 80%;}
  #logIn .login_div .top_div p{font-size:22px;}
  #logIn .login_div .left_div .left_cont{flex-direction: column;align-items: flex-start;}
  #logIn .login_div .left_div .left_cont .head{text-align:left;}
  #logIn .login_div .left_div .left_cont .inputd{margin-left:0px;width:100%;}
  #logIn .login_div .right_div{width:100%;align-items: flex-start;}
  #logIn .login_div .right_div input{width:100%;height:35px;}
}
@media (max-width:400px){
  #logIn .login_div{width:80%;}
  #logIn .login_div{height:360px;}
  #logIn .txt-input::placeholder{font-size:.7rem;}
  #logIn .login_div .right_div p{font-size:.8rem;}
  #logIn .login_div .right_div button{width:100%;height:35px;}
  
  #logIn .login_div .desc_div p{font-size:.8rem;}
}





/*
  첫 접속 화면
*/
#firstConnect{width:100vw;height:100vh}
#firstConnect .content{width:100%;display:flex;justify-content: center;align-items: center;}
#firstConnect .pw_div{width:600px;height:auto;border:1px solid #cecece;padding:3rem;border-radius:10px;position:relative}
#firstConnect .pw_div .logo_div{position:absolute;top:0;left:0;width:100%;height:50px;text-align:center;background:#020000;border-top-left-radius:10px;border-top-right-radius:10px;}
#firstConnect .pw_div .logo_div img{height:100%;}
#firstConnect .pw_div div{margin-bottom:20px;}
#firstConnect .pw_div div:last-child{height:40px;}
#firstConnect .pw_div .pw_notice{padding:1rem;font-size:1.2rem;border:1px solid #0c61d8; border-radius:10px;margin-top:20px;}
#firstConnect .pw_div .pw_notice span{color:#E6002D;font-weight:700;text-decoration: underline;}

@media (max-width:400px){
  #firstConnect .pw_div{padding-left:1rem;padding-right:1rem;width:100%;}
  #firstConnect .pw_div .logo_div{height:40px;}
  #firstConnect .pw_div,#firstConnect .pw_div .pw_notice{font-size:.9rem;}
}
@media (max-width:300px){
  #firstConnect .pw_div .logo_div{height:30px;}
}
@media (max-width:250px){
  #firstConnect .pw_div .logo_div{height:20px;}
}






/*
  관리자 목록
*/
#accountList .top_div{width:100%;margin-bottom:50px;}
#accountList .top_div div:first-child{width:10%;margin-right:10px;}
#accountList .top_div div:nth-child(2){width:50%;margin-right:10px;justify-content: space-between;}
#accountList .top_div div:last-child{width:10%;}
#accountList .top_div .txt-input{width:80%;margin-right:10px;}
#accountList .top_div .sw_div .btn{width:10%;}
#accountList .top_div .sw_div .btn-ok{width:20%;margin-left:10px;}
#accountList .table_div{justify-content: flex-start;}
#accountList table{width:100%;border-collapse:collapse;font-size:0.9rem;}
#accountList table td{text-align:center;}
#accountList table th{height:20px;padding:.5rem;border-bottom:2px solid #ACACAC;}
#accountList table thead tr{background:#c0e8b8;cursor:pointer}
#accountList table tbody tr{cursor:pointer;height:45px;}
#accountList table tbody tr:hover{background:#fafbc3}

#accountList table tbody td{height:30px;padding:.5rem;border-bottom:1px solid #CECECE;}
#accountList table tbody td:last-child{padding:0.2rem;}
#accountList table .redcircle{margin:0 auto;}

#accountList .view_mobi{display:none; flex-flow: row wrap;justify-content: center;}
#accountList .view_mobi .mobiv_div{width:270px;min-width:200px;border:1px solid #CECECE; border-radius:10px;padding:0.8rem;margin-right:10px; margin-bottom:20px;}
#accountList .view_mobi .mobiv_div div{display:flex;}
#accountList .view_mobi .mobiv_div .m_line2{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#accountList .view_mobi .mobiv_div .m_line4{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#accountList .view_mobi .mobiv_div .m_line1 div{align-items: center;}
#accountList .view_mobi .mobiv_div .m_line6 div{justify-content: flex-end;margin-top:20px;}
#accountList .view_mobi .btn-no{width:80px;height:35px; }
#accountList .view_mobi .paging_div .pagination{font-size:.7rem;}
#accountList .topadm{border:1px solid #0C76F7 !important}

@media (max-width:1200px){
  #accountList .top_div div:first-child{width:20%;}
  #accountList .top_div div:nth-child(2){width:70%;}
}
@media (max-width:1000px){
  #accountList .view_mobi{display:flex;}
  #accountList .table_div{display:none;}
  
}
@media (max-width:786px){
  #accountList .top_div{flex-direction: column;}
  #accountList .top_div div:first-child{width:100%;}
  #accountList .top_div div:nth-child(2){display:flex;align-items: center;width:100%;margin-top:10px;}
  #accountList .top_div div:nth-child(2) .btn{height:35px;width:50px;}
  #accountList .top_div div:nth-child(2) .btn-ok{width:100px;}
  
  #accountList .view_mobi .mobiv_div{width:100%;}
}
@media (max-width:400px){
  #accountList .top_div div:nth-child(2){flex-direction:column}
  #accountList .top_div div:nth-child(2) .txt-input{width:100%;margin:0;}
  #accountList .top_div div:nth-child(2) .btn{width:100%;margin-top:10px;}
  #accountList .top_div div:nth-child(2) .btn-ok{margin-left:0;}
}


/*
  관리자 등록/수정
*/
#accountReg .page_title div{width:220px;}
#accountReg form{width:80%;margin:0 auto}
#accountReg .pw_txt{font-size:0.8rem;font-weight:700;}
#accountReg .row{margin-bottom:30px;width:90%;}
#accountReg .error{font-size:0.9rem;margin-left:10px;}
#accountReg .resetbtn{width:60px;height:25px;margin-left:20px;}
#accountReg #uid{font-size:20px;}
#accountReg #uid::placeholder{font-size:.9rem;}
#accountReg #upw{margin-bottom:20px;}
#accountReg .posi{display:flex;}
#accountReg .posi .wv-2:first-child .txt-input{width:90%;}
#accountReg .mng .sel-select{width:90%}
#accountReg .mng .mng_view{border:1px solid #ccc;width:100%;height:auto;margin-top:20px;padding:1rem;max-height:200px;overflow: auto;}
#accountReg .mng .mng_view .mng_row{display:flex;justify-content: space-between;}
#accountReg .mng .mng_view .mng_row:nth-child(even){margin:10px 0;}
#accountReg .mng .mng_view .mng_row:hover{background:#eee;}



#accountReg .pil{color:red;font-weight:700;}
#accountReg .rad_row{justify-content: space-around; border-top:1px solid #ccc;padding-top:30px;border-bottom:1px solid #ccc;padding-bottom:30px;width:100%;margin:40px 0;}
#accountReg .rad_row label{text-align:center;}
#accountReg .rad_row div{flex-direction: column;align-items: center;}
#accountReg .rad_row div img{width:80px;cursor:pointer;}
#accountReg .btn_row{width:100%;height:50px;}
#accountReg .btn_row .btn_div{width:100%;height:80%;justify-content: center;}
#accountReg .btn_row .btn_div .btn{width:40%;}
#accountReg .btn_row .btn_div .btn-ok{margin-right:20px;}
#accountReg .btn_row .btn-no{width:20%;height:40px;}

@media (max-width:1100px){
  #accountReg .posi{flex-direction: column;}
  #accountReg .posi div{width:100%;}
  #accountReg .posi .wv-2:first-child{margin-bottom:20px}
  #accountReg .posi .wv-2:first-child .txt-input{width:100%}
}
@media (max-width:768px){
  #accountReg{width:70%;}
  #accountReg .rad_row div img{width:50px;cursor:pointer;}
  #accountReg .btn_row{flex-direction:column;height:80px;}
  #accountReg .btn_row .btn_div{width:100%;height:40px;justify-content: space-between;}
  #accountReg .btn_row .btn_div .btn{width:49%;margin:0;}
  #accountReg .btn_row .btn-no{width:100%;height:40px;margin-top:10px;}
}
@media (max-width:400px){
  #accountReg .resetbtn{width:100%; margin-left:0px;}
}


/*
  관리자 로그
*/
#logList .page_title div{width:180px;}
#logList .top_div{width:100%;margin-bottom:20px;}
#logList .top_div div:first-child{width:100px;margin-right:10px;}
#logList .top_div div:last-child{width:80%;}
#logList .top_div input:first-child{width:80%;margin-right:10px;}
#logList .top_div input:last-child{width:100px;}
#logList table{width:100%;text-align:center;border-collapse: collapse;}
#logList table th{height:20px;padding:.5rem;border-bottom:2px solid #ACACAC;}
#logList table td{height:30px;padding:.5rem;border-bottom:1px solid #CECECE;}
#logList table thead tr{background:#c0e8b8}
#logList table tbody tr:hover{background:#fafbc3}
#logList table td:first-child{width:6%;}
#logList table td:nth-child(2){width:10%}
#logList table td:nth-child(3){width:20%}
#logList table td:nth-child(4){width:40%}
#logList table td:last-child{width:10%}
#logList table .pagin{border:0;padding-top:20px;}

#logList .mobi_div{width:100%;padding:.5rem;display:flex;flex-flow: row wrap;display:none;}
#logList .mobi_div .log_div{border:1px solid #CECECE;border-radius: 10px;width:43%;padding:.7rem;margin-top:15px;}
#logList .mobi_div .log_div div{display:flex;justify-content: space-between;white-space:break-spaces;word-break:break-all;line-height:30px;}
#logList .mobi_div .log_div > div:nth-child(2){border-top:1px dotted #444;margin:5px 0;padding:5px 0;border-bottom:1px dotted #444;}
#logList .mobi_div .log_div .line_3{max-height:100px;overflow:auto}
#logList .mobi_div .log_div b{color:#0C76F7}
#logList .nothing{height:100px;text-align:center;}
#logList .mobi_div .pagin{display:flex;justify-content: center;width:100%;}

@media (max-width:900px){
  #logList .table_div{display:none;}
  #logList .mobi_div{display:flex;}
  #logList .mobi_div .log_div{width:100%;}
}
@media (max-width:500px){
  #logList .top_div{flex-direction:column}
  #logList .top_div div:first-child{width:92%}
  #logList .top_div .sel-select{width:100%;}
  #logList .top_div div:last-child{margin-top:10px;width:92%;}
  #logList .top_div div:last-child .btn{height:35px;}
}
@media (max-width:400px){
  #logList{width:100%}
  #logList .top_div div:last-child{flex-direction:column}
  #logList .top_div div:last-child .txt-input{width:100%}
  #logList .top_div div:last-child .btn{width:100%;margin-top:10px;}
}

/* 접속로그 그래프 */
#logList #graph_div{width:100%;height:500px;}
/* 접속로그 데이트피커 */
#logList .dpicker{display:flex;justify-content: flex-end;height:30px;margin-bottom:10px;}
#logList .dpicker input{border:1px solid #CCC;padding:.3rem}
#logList .dpicker div{margin-left:30px;}
#logList .dpicker div:first-child{width:200px;display:flex;}
#logList .dpicker div:first-child input{width:80%;}
#logList .dpicker div .act{font-weight:700;border:1px solid #E6002D;}
#logList .dpicker div input{width:50px;cursor:pointer;}
#logList .dpicker .ui-datepicker-trigger{border:0 !important;width:25px;}
#logList .dpicker .ui-datepicker-trigger img{width:100%;height:100%;object-fit: contain;}
#logList .mobi_div .log_div > div:last-child{border-top:1px dotted #444;margin:5px 0;padding:5px 0;}

@media (max-width:768px){
  #logList .dpicker{justify-content: flex-start;padding-left:.5rem;}
  #logList .dpicker div{margin-left:0}
}
@media (max-width:550px){
  #logList .dpicker{flex-direction:column;height:auto;margin-bottom:0px;}
  #logList .dpicker div{margin:0;display:flex;}
  #logList .dpicker div:first-child{width:100%;}
  #logList .dpicker div:last-child{margin-top:10px;}
  #logList .dpicker input[type="text"]{width:90%}
  #logList .dpicker input[type="button"]:nth-child(2){margin:0 20px;}
}


/*
  문의 리스트
*/
#mooniList .row{display:flex;justify-content: space-between;margin-bottom:20px;}
#mooniList .row .row_sel{width:30%;}
#mooniList .row select{width:30%;}
#mooniList .row .row_btn{display:flex;width:70%;justify-content: space-between;}
#mooniList .row .row_btn .txt_div{width:80%;display:flex;align-items: center;}
#mooniList .row .row_btn .txt-input{width:70%;margin-right:10px;}
#mooniList .row .row_btn .btn{width:100px;height:35px;}
#mooniList .row .row_btn .btn-ok{width:150px;height:35px;}
#mooniList .noans{font-weight:700;color:red;}
#mooniList .yans{font-weight:700;color:blue;}
#mooniList table{width:100%;text-align:center;border-collapse: collapse;font-size:0.9rem;}
#mooniList table th{height:20px;padding:.5rem;border-bottom:2px solid #ACACAC;}
#mooniList table tr{cursor:pointer;}
#mooniList table thead tr{background:#c0e8b8}
#mooniList table tbody tr:hover{background:#fafbc3}
#mooniList table td{height:30px;padding:.8rem;border-bottom:1px solid #CECECE;}
#mooniList table td:first-child{width:3%;}
#mooniList table td:nth-child(2){width:8%}
#mooniList table td:nth-child(3){width:6%}
#mooniList table td:nth-child(4){width:8%}
#mooniList table td:nth-child(5){width:6%}
#mooniList table td:nth-child(6){width:20%}
#mooniList table td:nth-child(7){width:10%;}
/* #mooniList table td:nth-child(8){width:10%;} */
#mooniList table td:last-child{width:4%}
#mooniList table .pagin{border:0;padding-top:20px;}
#mooniList .view_mobi{display:none; flex-flow: row wrap;justify-content: center;}
#mooniList .view_mobi .mobiv_div{width:300px;min-width:200px;border:1px solid #CECECE; border-radius:10px;padding:0.5rem;margin-right:10px; margin-bottom:10px;}
#mooniList .view_mobi .mobiv_div div{display:flex;}
#mooniList .view_mobi .mobiv_div .m_line2{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#mooniList .view_mobi .mobiv_div .m_line4{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#mooniList .view_mobi .paging_div .pagination{font-size:.7rem;}

#mooniList .modal{
  width:30%;min-height:200px;max-height:800px; background:#fff;position:fixed;z-index:510;top:30%;left:50%;
  transform:translate(-50%,-30%);padding:2rem;display:none;border:2px solid #777;border-radius:10px;
  box-shadow:1px 1px #444;
}
#mooniList .modal .modal_title{margin:0;padding:0;font-size:1.5rem;margin-bottom:30px;background:#f0dcf1;width:60%;border-bottom:1px solid #444;}
#mooniList .modal_mtype{display:none;border:1px solid #CECECE;}
#mooniList .modal_mtype .top_div{justify-content: flex-start;align-items: center;}
#mooniList .modal_mtype .top_div .txt-input{width:60%;margin-right:20px;}
#mooniList .modal_mtype .top_div .btn{width:20%;height:35px;}
#mooniList .modal_mtype .bottom_div{border:1px solid #999;min-height:100px;margin:20px 0;padding:5px 20px;max-height:150px;overflow-y: auto;}
#mooniList .modal_mtype .btn_div input{height:35px;}
#mooniList .modal_mtype .mtype_row{display:flex;justify-content: space-between;margin-bottom:10px;}
#mooniList .modal_mtype .mtype_row:hover{background:#ffe5e5;}
#mooniList .modal_mtype .mticon{cursor:pointer}
#mooniList .modal_answer .mcont{max-height:300px;overflow-y: auto;}
#mooniList .modal_answer .modal_row{display:flex;margin-bottom:20px;width:100%;justify-content: space-between;}
#mooniList .modal_answer .modal_row div{display:flex;width:100%;text-align:left;}
#mooniList .modal_answer .modal_row .row_2{padding:20px 0;border-top:1px dotted #888;border-bottom:1px dotted #888;}
#mooniList .modal_answer .modal_row .row_4{padding:20px 0;border-top:1px dotted #888;border-bottom:1px solid #0B77C7;}
#mooniList .modal_answer .btn_row{margin-top:30px;margin-bottom:0;}
#mooniList .modal_answer .btn_row input{height:35px;}


@media (max-width:1600px){
}

@media (max-width:1200px){
  #mooniList .row{flex-direction:column}
  #mooniList .row .row_sel{width:100%;margin-bottom:20px;}
  #mooniList .row .row_sel select{width:20%;}
  #mooniList table td:nth-child(3){display:none;}
  #mooniList table th:nth-child(3){display:none;}
  #mooniList table td:last-child{width:8%}
  #mooniList .modal{width:46%;}
}

@media (max-width:1100px){
  #mooniList .row .row_btn{width:100%;justify-content: flex-start;}
  #mooniList .row .row_btn .txt_div{width:70%;}
  #mooniList .row .row_btn .add_div{width:30%}
  #mooniList .row .row_btn .txt_div .txt-input{width:70%;}
  #mooniList .row .row_btn .add_div input{width:100%}
  #mooniList .row .row_sel select{width:30%;}
}

@media (max-width:930px){
  #mooniList table td:nth-child(4){display:none;}
  #mooniList table th:nth-child(4){display:none;}
  #mooniList table td:nth-child(5){width:10%}
}

@media (max-width:768px){
  #mooniList .row .row_sel select{width:30%;}
  #mooniList .row .row_btn .txt_div{width:100%;}
  #mooniList .row .row_btn .add_div{margin-top:10px;}
  #mooniList .row .row_btn .add_div input{width:200px;}
  #mooniList .row .row_btn{flex-direction:column;}
  #mooniList .row .row_btn .txt_div .txt-input{width:70%;}
  
  #mooniList table{display:none;}
  #mooniList .view_mobi{display:flex;}
  #mooniList .view_mobi .mobiv_div{width:100%;}
  
  #mooniList .modal{ont-size:0.8rem;width:60%;}
}
@media (max-width:600px){
  #mooniList .modal{width:80%;}
}
@media (max-width:500px){
  #mooniList .modal_answer .modal_row{margin-bottom:0;}
  #mooniList .modal_answer .modal_row div{flex-direction: column;}
  #mooniList .modal_answer .modal_row .wv-2:first-child{margin-bottom:10px;}
  
  #mooniList .modal_answer .modal_row .row_1{margin-bottom:10px;}
  #mooniList .modal_answer .modal_row .row_2{padding:10px 0;}
  #mooniList .modal_answer .modal_row .row_3{margin:10px 0;}
  #mooniList .modal_answer .modal_row .row_4{padding:10px 0;}
  #mooniList .modal_answer .mcont{padding-top:10px;}
  /* #mooniList .modal_answer .modal_row .wv-2{width:30%;} */
}

@media (max-width:400px){
  #mooniList .modal{width:90%;}
  #mooniList .row .row_sel{display:flex;flex-direction:column;margin-bottom:0;}
  #mooniList .row .row_sel select{width:100%;margin-bottom:5px;}
  #mooniList .row .row_btn .txt_div{display:flex;flex-direction:column;}
  #mooniList .row .row_btn .txt_div .txt-input{width:100%;margin:0;padding:10px 0;}
  #mooniList .row .row_btn .txt_div .btn{width:100%;margin-top:5px;}
  #mooniList .row .row_btn .add_div{width:100%;margin-top:5px;}
  #mooniList .row .row_btn .add_div input{width:100%;}
  
  #mooniList .modal_mtype .top_div{flex-direction:column;}
  #mooniList .modal_mtype .top_div .txt-input{margin-bottom:10px;width:100%;margin-right:0;}
  #mooniList .modal_mtype .top_div .btn{width:100%;}
}



/*
  포트폴리오 리스트
*/

#portpolList .page_title div{width:240px;}
#portpolList .port_wrap{display:flex;flex-flow:row wrap;padding:.5rem;}
#portpolList .nopen{background:#888;}

#portpolList .top_div .top1{width:60%;}
#portpolList .top_div .top1 div:first-child{width:260px;margin-right:10px;}
#portpolList .top_div .top1 div select:first-child{width:150px;margin-right:10px;font-size:.9rem;}
#portpolList .top_div .top1 div select:last-child{width:100px;font-size:.9rem;}
#portpolList .top_div .top1 div:last-child{width:80%;margin-right:10px;}
#portpolList .top_div .top1 div:last-child input{height:100%;}
#portpolList .top_div .top2{width:40%;justify-content: space-between;}
#portpolList .top_div .top2 > .btn{width:80px;}
#portpolList .top_div .top2 .add_div .btn{width:150px;}

#portpolList .table_div{margin-top:30px;text-align:center;}
#portpolList table{border-collapse:collapse;font-size:0.9rem;}
#portpolList table thead tr{background:#c0e8b8}
#portpolList table thead th{height:20px;padding:.5rem;border-bottom:2px solid #ACACAC;}
/* #portpolList .table_div tbody tr:nth-child(even){background:#EEE;} */
#portpolList .table_div tbody tr:hover{background:#fef5da}
#portpolList .table_div tbody .img_div{width:100px;height:100px;}
#portpolList .table_div tbody .img_div img{width:100%;height:100%;object-fit:contain;}
#portpolList .table_div tbody td{cursor:pointer;padding:.3rem;}
#portpolList .table_div tbody td:first-child{width:6%}
#portpolList .table_div tbody td:nth-child(2){width:10%;}
#portpolList .table_div tbody td:nth-child(3){width:6%;}
#portpolList .table_div tbody td:nth-child(4){width:20%;}
#portpolList .table_div tbody td:nth-child(5){width:10%;}
#portpolList .table_div tbody td:nth-child(6){width:10%}
#portpolList .table_div tbody td:nth-child(7){width:8%}
#portpolList .table_div tbody td:nth-child(8){width:10%}
#portpolList .table_div tbody td:last-child{width:6%}
#portpolList .table_div tbody td .btn{height:40px;}

#portpolList .pagin{background:#fff;border-top:1px solid #CECECE;padding-top:20px;}

#portpolList .mobi_div{display:none;}
#portpolList .port_wrap .port_div{min-width:180px;width:45%;height:auto;margin-bottom:20px;margin-right:10px;font-size:.9rem;}
#portpolList .port_wrap .port_div .mtop_div{background:#454141;color:#fff;padding:1rem;display:flex;justify-content:space-between;}
#portpolList .port_wrap .port_div .thumb_div{display:flex;width:100%;height:150px;}
#portpolList .port_wrap .port_div .thumb_div img{object-fit:cover;width:100%;height:100%;}
#portpolList .port_wrap .port_div .bottom_div{background:#454141;color:#fff;}
#portpolList .port_wrap .port_div .bottom_div div{display:flex;justify-content:space-between;padding:.2rem;}
#portpolList .port_wrap .port_div .bottom_div .bline2{align-items:flex-end;}
#portpolList .port_wrap .port_div .bottom_div .bline2 .amount{font-size:1rem;color:#faf36c}




@media (max-width:1000px){
  #portpolList .top_div .top1{flex-direction:column}
  #portpolList .top_div .top1 div:last-child{margin-top:9px;margin-bottom:1px;margin-right:0px;width:98%;}
  #portpolList .top_div .top1 div:last-child input{width:100%;}
  #portpolList .top_div .top2{align-items:flex-end;}
  #portpolList .top_div .top2 .btn{height:38px;}
}
@media (max-width:900px){
  #portpolList .table_div{display:none}
  #portpolList .mobi_div{display:block}
  #portpolList .pagin_div{width:100%;display:flex;justify-content: center;}
}
@media (max-width:800px){
  #portpolList .top_div .top1{width:50%;}
  #portpolList .top_div .top2{width:50%;}
  #portpolList .top_div .top2 > .btn{width:70px;height:35px;font-size:.9rem;}
  #portpolList .top_div .top2 .add_div .btn{width:120px;height:35px;font-size:.9rem;}
}
@media (max-width:660px){
  #portpolList .port_wrap .port_div{width:400px;height:auto;font-size:.9rem;}
  #portpolList .port_wrap .port_div .thumb_div{height:180px;}
}
@media (max-width:580px){
  #portpolList .top_div{flex-direction:column}
  #portpolList .top_div .top1{width:100%;}
  #portpolList .top_div .top1 div:first-child{width:100%;}
  #portpolList .top_div .top1 div select:first-child{width:49%;margin-right:10px;}
  #portpolList .top_div .top1 div select:last-child{width:49%;}
  #portpolList .top_div .top1 div:last-child{width:100%;}
  #portpolList .top_div .top2{width:100%;margin-top:10px;}
  #portpolList .top_div .top2 .btn{width:40%;margin-right:10px;}
  #portpolList .top_div .top2 .add_div{width:60%;}
  #portpolList .top_div .top2 .add_div .btn{width:100%;}
}
@media (max-width:400px){
  #portpolList{width:90%}
  #portpolList .top_div .top1 div:first-child{flex-direction:column}
  #portpolList .top_div .top1 div select:first-child{width:100%;margin-bottom:10px;}
  #portpolList .top_div .top1 div select:last-child{width:100%;}

}






/*
  포트폴리오 상세
*/
#portpolReg .page_title div{width:200px;}

#portpolReg .cont_wrap,#portpolReg .row,#portpolReg .row .row_wrap,#portpolReg .row .row_wrap .row_cont,#portpolReg .cont_left,#portpolReg .cont_left form{width:100%}
#portpolReg .cont_wrap{justify-content: space-between;}
#portpolReg .cont_wrap .cont_left{width:60%;padding-top:1rem;padding-left:2rem;}
#portpolReg .cont_wrap .cont_right{width:300px;}
#portpolReg .row{display:flex;margin-bottom:20px;}
#portpolReg #thumbimg{display:none}

#portpolReg .cont_left .first_row{margin-bottom:50px;}
#portpolReg .cont_left .first_row > div:last-child .row_cont{align-items: center;height:100%;}
#portpolReg .cont_left .row_cont{display:flex;}
#portpolReg .cont_left .row_cont .thumbtn{width:100px;height:35px;}
#portpolReg .cont_left .input1_row .txt-input{width:90%}
#portpolReg .cont_left .input2_row .sel-select{width:90%}
#portpolReg .cont_left .input3_row .sel-select{width:90%}
#portpolReg .cont_left .input3_row .txt-input{width:90%}
#portpolReg .cont_left .input4_row .txt-input{width:90%}
#portpolReg .cont_left .input5_row .row_cont{display:flex;flex-direction: column;width:95%;align-items: flex-end  ;}
#portpolReg .cont_left .input5_row .txt-input{width:100%;height:100px;max-height:200px;overflow:auto;resize: none;}
#portpolReg .cont_left .input5_row .chkstr{font-size:.8rem;color:#0C76F7}
#portpolReg .cont_left .sel_div{
  width:80px; height:80px;display:flex;justify-content: center;align-items:center;border:1px solid #ccc;
  border-radius:5px;box-shadow:1px 1px #222;cursor:pointer;
}
#portpolReg .cont_left .sel_div:active{transform: translate(1px,1px);box-shadow:0 0 #fff;}
#portpolReg .cont_left .hpy{margin-right:40px;}
#portpolReg .cont_left .hpact{background:linear-gradient(to bottom right, #040000 30%, #E6002D);color:#fff;font-weight:700;}
#portpolReg .cont_left input[type="radio"]{display:none;}
#portpolReg .cont_left .btn_row{display:flex;justify-content:space-around;}
#portpolReg .cont_left .btn_row .btn{width:20%;height:35px;}

#portpolReg .cont_right{align-items: center;position:relative;}
#portpolReg .cont_right .port_div{min-width:180px;width:300px;height:auto;font-size:.9rem;position:fixed;top:35%;left:60%;}
#portpolReg .cont_right .port_div .ptop_div{background:#454141;color:#fff;padding:1rem;display:flex;justify-content:space-between;align-items: center;}
#portpolReg .cont_right .port_div .ptop_div .country{display:flex;align-items: center;font-size:1.2rem;}
#portpolReg .cont_right .port_div .ptop_div .platf{width:150px;height:20px;display:flex;align-items: center;justify-content: flex-end;}
#portpolReg .cont_right .port_div .ptop_div .platf img{height:100%;object-fit: contain;}
#portpolReg .cont_right .port_div .thumb_div{width:100%;height:200px;border:1px solid #CCC;object-fit: contain;}
#portpolReg .cont_right .port_div .thumb_div img{height:100%;}
#portpolReg .cont_right .port_div .bottom_div{background:#454141;color:#fff;}
#portpolReg .cont_right .port_div .bottom_div div{display:flex;justify-content:space-between;padding:.2rem;}
#portpolReg .cont_right .port_div .bottom_div .bline2{align-items:flex-end;}
#portpolReg .cont_right .port_div .bottom_div .bline2 .amount{font-size:1rem;color:#faf36c}


@media (max-width:1300px){
  #portpolReg .cont_wrap .cont_middle{padding:20px;}
  #portpolReg .cont_right .port_div .ptop_div .platf{width:150px;}
  #portpolReg .cont_right .port_div .ptop_div .platf img{width:100%;}
}
@media (max-width:1024px){
  #portpolReg .cont_wrap .cont_left{padding-left:0;}
  #portpolReg .cont_wrap .cont_right{width:230px;}
  #portpolReg .row_wrap{margin-bottom:20px;}
  #portpolReg .cont_left .first_row{margin-bottom:0px;}
  #portpolReg .row{margin-bottom:0px;}
  #portpolReg .cont_left .row{flex-direction:column}
  #portpolReg .cont_left .input1_row .txt-input{width:100%}
  #portpolReg .cont_left .input2_row .sel-select{width:100%}
  #portpolReg .cont_left .input3_row .sel-select{width:100%}
  #portpolReg .cont_left .input3_row .txt-input{width:100%}
  #portpolReg .cont_left .input4_row .txt-input{width:100%}
  #portpolReg .cont_left .input5_row .row_cont{width:100%;}
}
@media (max-width:768px){
  #portpolReg .cont_wrap .cont_right{width:230px;}
  #portpolReg .cont_left .btn_row{justify-content: space-between;}
  #portpolReg .cont_left .btn_row .btn{width:40%;}
  #portpolReg .cont_right .port_div{height:230px;width:230px;}
  #portpolReg .cont_right .port_div .thumb_div{height:120px;}
}
@media (max-width:700px){
  #portpolReg .cont_right .port_div{left:56.5%;}
}
@media (max-width:550px){
  #portpolReg{width:90%}
  #portpolReg .cont_wrap{flex-direction: column;}
  #portpolReg .cont_wrap .cont_left{width:90%;}
  #portpolReg .cont_wrap .cont_middle{display:none}
  #portpolReg .cont_wrap .cont_right{width:300px;}
  #portpolReg .cont_left .btn_row{margin-bottom:30px;}
  #portpolReg .cont_right .port_div .ptop_div .country{width:150px;font-size:.9rem;}
  #portpolReg .cont_right .port_div{position:relative;height:auto;width:300px;left:0;}
  #portpolReg .cont_right .port_div .thumb_div{height:200px;}
}
@media (max-width:400px){
  #portpolReg .cont_wrap{flex-direction: column;}
  #portpolReg .cont_wrap .cont_left{width:90%;}
  #portpolReg .cont_wrap .cont_middle{display:none}
  #portpolReg .cont_wrap .cont_right{width:230px;}
  #portpolReg .cont_right .port_div{height:230px;width:230px;}
  #portpolReg .cont_right .port_div .thumb_div{height:120px;}
}
@media (max-width:300px){
  #portpolReg{width:100%;}
  #portpolReg .cont_right .port_div{height:180px;width:180px;font-size:.9rem;}
  #portpolReg .cont_right .port_div .thumb_div{height:80px;}
  #portpolReg .cont_right .port_div .ptop_div .country{font-size:.9rem;}
  #portpolReg .cont_right .port_div .ptop_div .platf{width:180px;height:30px;}
  #portpolReg .cont_left .sel_div{width:67px; height:67px; font-size:.8rem;}
}



/*
  메일 발송 리스트
*/
#mailList .page_title div{width:210px;}
#mailList .top_div{width:100%;justify-content: space-between;margin-bottom:30px;}
#mailList .top_div div{display:flex;}
#mailList .top_div .rleft_div{width:40%;}
#mailList .top_div .rleft_div .sel-select{width:150px;margin-right:10px;}
#mailList .top_div .rleft_div .txt-input{width:100%;}
#mailList .top_div .rright_div{width:60%;justify-content: space-between;}
#mailList .top_div .rright_div .btn{width:100px;margin-left:10px;}
#mailList .top_div .rright_div .btn-ok{width:150px;height:35px;}
#mailList table{width:100%;text-align:center;border-collapse:collapse;font-size:.9rem;}
#mailList table .nadding{border:0;}
#mailList table thead tr{background:#c0e8b8}
#mailList table tbody tr{cursor:pointer;}
#mailList table tbody tr:hover{background:#fbeeee}
#mailList table th{border-bottom:2px solid #ACACAC;height:20px;padding:.5rem;}
#mailList table td{padding:10px 0;border-bottom:1px solid #ccc;}
#mailList table td:first-child{width:6%;}
#mailList table td:nth-child(2){width:10%}
#mailList table td:nth-child(3){width:40%}
#mailList table td:nth-child(4){width:10%}
#mailList table td:nth-child(5){width:15%}
#mailList table td:last-child{width:8%}
#mailList .img_div{width:100px;height:100px;border:1px solid #000;margin:0 auto;}
#mailList .img_div img{width:100%;height:100%;object-fit:cover;}
#mailList .mobi_div{display:none;}
#mailList .mobi_div .nothing{width:100%;text-align:center;height:50px;}

#mailList .modal{
  width:500px;min-height:200px;max-height:800px; background:#fff;position:fixed;z-index:510;top:50%;left:50%;
  transform:translate(-50%,-50%);padding:1rem;border:1.5px solid #ddd; display:none;
}
#mailList .modal .modal_title{margin:0;padding:0;font-size:1.5rem;margin-bottom:30px;background:#f0dcf1;width:60%;border-bottom:1px solid #444;}
#mailList .detail_row{width:100%;display:flex;flex-flow:row wrap;margin-bottom:20px;border-bottom:1px dotted;padding-bottom:10px;}
#mailList .detail_row div:first-child{font-weight:700;width:20%;}
#mailList .detail_row div:last-child{margin-left:50px;width:60%}
#mailList .detail_row .detail_receiv,
#mailList .detail_row .detail_receiv_mail{border:1px solid #ccc;padding:.6rem;overflow-y:scroll;min-height:100px;max-height:100px;display:flex;flex-flow:column nowrap}


@media (max-width:1000px){
  #mailList .top_div{flex-direction:column;align-items: flex-start;}
  #mailList .top_div .rleft_div{align-items: flex-end;width:100%;margin-bottom:10px;}
  #mailList .top_div .rleft_div .sel-select{width:30%;margin-right:10px;}
  #mailList .top_div .rleft_div .txt-input{width:69%;}
  #mailList .top_div .rright_div{width:100%;justify-content: flex-end;}
  #mailList .top_div .rright_div .btn{height:35px;}
  #mailList .pagin_div{width:100%;text-align:center;}
}
@media (max-width:800px){
  #mailList .table_div{display:none;}
  #mailList .modal{width:80%;}
  #mailList .mobi_div{display:flex;flex-wrap:wrap}
  #mailList .mobi_div .news_div{width:100%;height:auto;border:1px solid #CECECE;border-radius:10px;padding:1rem;font-size:.9rem;margin-bottom:10px;}
  #mailList .mobi_div .news_div .line_1{width:100%;justify-content:flex-start;}
  #mailList .mobi_div .news_div .line_1 > div:last-child{display:flex;flex-direction:column;margin-left:15px;}
  #mailList .mobi_div .news_div .line_1 > div:last-child div{width:100%;height:25px;}
  #mailList .mobi_div .news_div .line_1 > div:last-child div:first-child{height:38px;}  
}
@media (max-width:500px){
  #mailList .modal{overflow:auto;height:500px;}
  #mailList .modal .detail_row{flex-direction:column}
  #mailList .modal .detail_row .detail_head{width:100%;}
  #mailList .modal .detail_row div:last-child{width:80%;}
}
@media (max-width:400px){
  #mailList .top_div .rleft_div{flex-direction:column;align-items:flex-start;margin-bottom:10px;}
  #mailList .top_div .rleft_div .sel-select{width:100%;margin-bottom:10px;}
  #mailList .top_div .rleft_div .txt-input{width:100%;}
  #mailList .top_div .rright_div{width:100%;justify-content:space-between;}
  #mailList .top_div .rright_div .btn{margin-left:0;}
  
  #mailList .mobi_div .news_div .line_1{flex-direction:column;text-align:center;}
  #mailList .mobi_div .news_div .line_1 > div:last-child{margin-left:0;margin-top:10px;}
  
  #mailList .modal .modal_title{width:110px;}
  #mailList .modal .detail_row div:last-child{width:100%;margin-left:0;}
  #mailList .modal .detail_row .detail_receiv_mail{word-break: break-all;}
}





/*
  메일 발송
*/
#mailSend form{width:80%;margin:0 auto}
#mailSend .page_title div{width:210px;}
#mailSend .txt-input{width:100%;}

#mailSend .news_title{font-size:20px;background:#938484;padding:10px;border:1px solid #938484;box-shadow:1px 1px #000;color:#fff;}
#mailSend .notice{margin-bottom:30px !important;}
#mailSend .notice .row_title{font-weight:700;color:red;}
#mailSend .notice .row_cont span{font-weight:700;color:#0C76F7;}
#mailSend .notice .row_cont b{text-decoration:underline}
#mailSend .row{display:flex;width:100%;margin-bottom:20px;}
#mailSend .row .row_wrap{width:100%;}


#mailSend .temp_div .row_cont{margin-top:20px;display:flex;}
#mailSend .temp_div .row_cont input{display:none;}
#mailSend .temp_div .row_cont .templabel{display:flex;justify-content: center;align-items: center; width:100px;height:100px;border:1px solid #aaa;color:#666;border-radius:5px;}
#mailSend .temp_div .row_cont .seltemp2 {margin:0 20px;}
#mailSend .temp_div .row_cont .selact{background:linear-gradient(to bottom right, #040000 30%, #E6002D);color:#fff;font-weight:600;letter-spacing:2px;}
#mailSend .img_div{display:none}
#mailSend .row_cont #templ2{margin-left:50px;}
#mailSend .row_cont #templ3{margin-left:50px;}
#mailSend textarea{width:100%;min-height:150px;overflow-y:auto}

#mailSend .img_box{border:1px solid #ccc;border-radius:5px;padding:1rem;height:auto;}
#mailSend .img_row{display:flex;flex-direction:column;word-break:break-all}
#mailSend .img_row .row_wrap{width:100%;flex-flow:row wrap;}
#mailSend .img_row .img1_div{margin-bottom:10px;margin-top:10px;}
#mailSend .img_row .row_wrap .row_title{width:60px;}
#mailSend .img_row .row_wrap .row_cont{display:flex;align-items: center;}
#mailSend .img_row .row_wrap .row_cont p{margin-left:20px;}
#mailSend .img_row .btn{width:30px;height:30px;color:#fff;background:#0C76F7;border:2px solid #0c61d8;margin-left:10px;}
#mailSend .preview_div .btn{height:35px;}

#mailSend #preview1{width:650px;height:700px;display:none;position:fixed;top:25%;left:50%;transform:translate(-50%, -20%);z-index:510;background-size:contain;overflow:auto;background:#000;}
#mailSend #preview1 .notice{position:absolute;top:10px;left:10px;color:#fff;}
#mailSend #preview1 #temp1{width:auto;height:100%;max-width:100%;max-height:100%;}
#mailSend #preview2{width:650px;height:700px;display:none;position:fixed;top:25%;left:50%;transform:translate(-50%, -20%);z-index:510;background-size:contain;overflow:auto;background:#fff;}
#mailSend #preview2 .notice{position:absolute;top:10px;right:10px;color:#fff;}
#mailSend #preview2 #temp2{width:auto;height:100%;max-width:100%;max-height:100%;}

#mailSend .section_line{width:90%;border-bottom:1px solid #0c61d8;margin:50px auto;}

#mailSend .sendtype .row_cont{width:100%;justify-content:center;}
#mailSend .sendtype .send_select_btn{
  width:80px;height:80px;border:1px solid #ccc;border-radius:5px;box-shadow:1px 1px #000;justify-content: center;align-items: center;
  cursor:pointer;
}
#mailSend .sendtype .send_select_btn:active{box-shadow: 0px 0px; transform:translateX(1px);transform:translateY(1px)}
#mailSend .sendtype .one{margin-right:50px;}
#mailSend .sendtype .sendact{background:#f8c398;font-weight:700;}
#mailSend .one_up_div .txt-input{width:90%;}
#mailSend .one_up_div .row:first-child{width:90%;margin:0;}
#mailSend .one_up_div .row:first-child .row_wrap:first-child{width:50%;}
#mailSend .one_up_div .row:last-child{width:10%;margin:0;display:flex;align-items: flex-end;}
#mailSend .one_up_div .btn{height:35px;width:100px;margin:0;}

#mailSend .all_up_div{display:none;}
#mailSend .all_up_div .txt_box{width:100%;padding:1rem;border:1px solid #ccc;border-radius:5px;}
#mailSend .all_up_div .txt_box ul{list-style: decimal;padding-left:20px;}
#mailSend .all_up_div .excel_div{width:100%;margin-top:20px;justify-content: center;}
#mailSend .all_up_div .excel_div .btn{height:35px;}
#mailSend .all_up_div .excel_div a .btn{width:120px;margin-right:30px;}
#mailSend .all_up_div .excel_div > .btn{width:200px;}

#mailSend .target_row{margin-top:20px;flex-direction: column;}
#mailSend .target_div{border:1px solid #ccc;margin-top:30px;min-height:200px;max-height:600px;overflow:auto;border-radius:5px;padding:1rem;}
#mailSend .target_div .line_div{display:flex;justify-content:space-between;padding:0 10px;height:35px;align-items:center;}
#mailSend .target_div .line_div:hover{background:#f5dcdc;}
#mailSend .target_div .line_div .pname{width:20%}
#mailSend .target_div .line_div .pmail{width:70%}
#mailSend .sendbtn{height:50px;width:20%;}
#mailSend .target_row > div:last-child{display:flex;justify-content: flex-end;margin-top:20px;}

@media (max-width:1200px){
  #mailSend{width:60%;}
}
@media (max-width:800px){
  #mailSend{width:70%;}
}
@media (max-width:700px){
  #mailSend{width:80%;}
}
@media (max-width:600px){
  #mailSend{width:90%;}
  #mailSend .img_row .row_wrap .row_cont p{font-size:.9rem;}
}
@media (max-width:420px){
  #mailSend form{width:100%;}
  #mailSend .temp_div .row_cont{justify-content: space-between;}
  #mailSend .temp_div .row_cont .templabel{width:76px;height:76px;font-size:.9rem;}
  #mailSend .sendtype .send_select_btn{width:68px;height:68px;font-size:.8rem;}
  #mailSend .img_row .row_wrap{display:flex;flex-direction: column;}
  #mailSend .one_up_div .row:first-child{flex-direction:column;}
  #mailSend .one_up_div .row:first-child .row_wrap{width:100%;}
  #mailSend .one_up_div .row:first-child .row_wrap:first-child{width:100%;margin-bottom:10px;}
  #mailSend .one_up_div .row:first-child input{width:100%;}
  #mailSend .one_up_div .row:last-child{width:18%;margin-left:10px;}
  #mailSend .one_up_div .btn{height:35px;width:100%;}

  #mailSend .all_up_div .excel_div a .btn{width:100px;margin-right:20px;}
  #mailSend .all_up_div .excel_div > .btn{width:180px;}
  
}

@media (max-width:310px){
  #mailSend .temp_div .row_cont .templabel{width:60px;height:60px;font-size:.7rem;}
  #mailSend .all_up_div .excel_div a .btn{width:80px;margin-right:10px;}
  #mailSend .all_up_div .excel_div > .btn{width:160px;}
}



/*
  페이지네이션
*/
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}
.page-item span{line-height:28px;}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}
.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
.pager{padding-left:0;margin:20px 0;text-align:center;list-style:none}


