* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{min-height:100vh;}
#main{width:100%;min-height:84vh;display:flex;justify-content: center;min-width:220px;padding-top:0px;}
@media (max-width:1200px){
  #main{padding-top:50px;}
}
.footer{min-width:230px;}
.content{padding:1rem;height:100%;}
.page_title{font-size:2rem;margin-top:20px;margin-bottom:50px;}
.page_title div{border-bottom:1px solid #444;width:150px;}
.txt-input,.sel-select{border:1px solid #CECECE;padding:.5rem;color:#777;box-shadow:1px 1px #eee;width:100%;outline:none;}
.input_file{display:none}
.btn{border:1px solid #CECECE; border-radius:5px; width:100%;height:100%;font-size:1rem;cursor:pointer}
.btn-ok{background:#1e8cec;color:#fff}
.btn-ok:hover{border:1px solid #0580ec;font-size:1rem}
.btn-no{background:#ef1c1c;color:#fff}
.btn-no:hover{border:1px solid #ef1c1c;font-size:1rem}
.d-flex{display:flex}
.wv-1{width:100%;}
.wv-2{width:50%;}
.wv-3{width:33.33333%}
.wv-4{width:25%;}
.wv-5{width:20%;}
.wv-6{width:16.44444%}
.redcircle{background:#0C77FB;width:10px;height:10px;border-radius:50%;}


form{width:100%;}
.error{color:red}
.readonly{border:0;box-shadow:0px 0px #fff;}
.pcursor{cursor:pointer;}
.backblack{position:fixed;top:0;left:0;width:100%;height:100%;z-index:500;background:#000;opacity:0.3;display:none;}


/*
  header footer
*/
nav{background:#040000;align-items: center;width:100%;height:auto;;min-width:220px;}
.mobi{display:none;position:fixed;z-index:400;}
nav a{text-decoration: none;color:#fff; cursor:pointer}
nav .logo_div{width:15%;}
nav .logo_div img{width:100%;}
nav .nav_div{width:72%;color:#fff;justify-content: center;align-items:center;height:100%;}
nav .nav_div div{display:flex;align-items:center;margin-right:50px;font-weight:700;font-size:1.4rem;height:50%;cursor:pointer;}
nav .nav_div .active{border-bottom:2px solid #E6002D}
nav .nav_div .dactive{color:#E6002D}
nav .nav_div .menu4{position:relative;}
nav .nav_div .menu4_drop{position:absolute;top:32px;left:0;width:200px; height:100px;flex-direction: column;background:#040000;display:none;}
nav .nav_div .menu4_drop_line{width:100%;font-size:1rem;font-weight:normal;margin:0;height:40px;padding-left:20px;padding-top:20px;}

nav .acc_div{width:10%;height:100%;color:#eee;justify-content: center;align-items: center;flex-direction: column;}
nav .acc_div .aname{font-weight:700;color:#fff;}
nav .acc_div .lout{margin-top:5px;text-decoration: underline;cursor:pointer;font-size:.8rem;margin-bottom:5px;}
.footer{width:100%;height:30px;background:#040000;color:#ccc;margin-top:10px;justify-content: center;align-items: center;}


@media (max-width:1200px){
  .notmobi{display:none;}
  .mobi{display:flex;flex-direction:column;}
  .mobi .logo_div img{width:250px; cursor:pointer}
  .mobi .acc_div img{width:50px; cursor:pointer}
  .mobi .top_div{width:100%;height:100%;display:flex;justify-content: space-between;align-items: center;}
  .mobi .acc_div{align-items: center;justify-content: center; display:flex;}

  .mobi .nav_div{display:none;width:100%;height:auto; max-height:800px;background:#040000;}
  .mobi ul{list-style:none;}
  .mobi ul li{width:100%;text-align:center;display:block;align-items:center; border-top:1px solid #CECECE;line-height:60px;font-size:1.3rem;}
  .mobi ul li a{cursor:pointer;}
  .mobi ul .mmenu5{font-size:1rem;}
  .mobi ul li .lout{margin-left:50px;cursor:pointer;}
  
  .mobi .mmenu4 .mmenu4_drop{width:100%;display:none;}
  .mobi .mmenu4 .mmenu4_drop li:last-child{border-top:1px dotted #CECECE;}
  .mobi .mmenu4 .mmenu4_drop li{font-size:1rem;}
  .mobi .mmenu4 .mmenu4_drop li a{cursor:pointer}
  
}

@media (max-width:768px){
  .mobi .logo_div img{width:180px;}
  .mobi .acc_div img{width:35px;} 
}

@media (max-width:400px){
  .mobi .logo_div img{width:180px;}
  .mobi .acc_div{width:20%;}
}

#accountList,#logList,#mooniList,#portpolList,#portpolReg,#mailList{width:80%;min-width:210px;}
#accountReg,#mailSend{width:50%;min-width:210px;margin:0 auto;}

/*
  로그인 화면
*/
#logIn{width:100%;height:100vh;background:#040000}
#logIn .content{position:relative;width:100%;height:100%;}
#logIn .login_div{
  position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);border:1px solid #222;max-width:500px;min-width:200px;height:300px;
  width:40%;padding:2rem;border:2px solid #CECECE;border-radius:10px;
}
#logIn .login_div .cont_div{flex-direction: column;}
#logIn .login_div .top_div{align-items:center;justify-content: center;}
#logIn .login_div .top_div img{width: 250px;min-width:150px;}
#logIn .login_div .top_div p{color:#eee;font-size:28px;font-weight:700;margin:0;margin-top:-5px;}
#logIn .login_div .left_div{flex-direction:column;width:100%}
#logIn .login_div .left_div .left_cont{display:flex;margin-top:20px;}
#logIn .login_div .left_div .left_cont .head{display:flex;color:#fff;width:80px;text-align:right;align-items:center}
#logIn .login_div .left_div .left_cont .head span{width:100%;}
#logIn .login_div .left_div .left_cont .inputd{margin-left:20px;width:60%;}
#logIn .login_div .left_div .left_cont .inputd input{border:0;}
#logIn .login_div .right_div{margin-top:30px;justify-content: center;flex-direction: column;align-items: center;}
#logIn .login_div .right_div p{color:#888;}
#logIn .login_div .right_div a{color:#CCC;}
#logIn .login_div .right_div input{width:30%;height:45px;border:0;}

@media (max-width:1010px){
  #logIn .login_div{width:60%;}
  /* #logIn .login_div .top_div img{width: 62%;}
  #logIn .login_div .top_div p{font-size:25px;margin-top:-2px;} */
}
@media (max-width:768px){
  #logIn .login_div{top:44%;width:66%;}
  #logIn .login_div .top_div p{font-size:20px;}
}
@media (max-width:600px){
  #logIn .login_div{top:42%;}
  #logIn .login_div{height:350px;}
  #logIn .login_div .top_div{flex-direction:column}
  #logIn .login_div .top_div img{width: 80%;}
  #logIn .login_div .top_div p{font-size:22px;}
  #logIn .login_div .left_div .left_cont{flex-direction: column;align-items: flex-start;}
  #logIn .login_div .left_div .left_cont .head{text-align:left;}
  #logIn .login_div .left_div .left_cont .inputd{margin-left:0px;width:100%;}
  #logIn .login_div .right_div{width:100%;align-items: flex-start;}
  #logIn .login_div .right_div input{width:100%;height:35px;}
}
@media (max-width:400px){
  #logIn .login_div{width:80%;}
  #logIn .txt-input::placeholder{font-size:.7rem;}
}


/*
  관리자 목록
*/
#accountList .top_div{width:100%;margin-bottom:50px;}
#accountList .top_div div:first-child{width:10%;margin-right:10px;}
#accountList .top_div div:nth-child(2){width:50%;margin-right:10px;justify-content: space-between;}
#accountList .top_div div:last-child{width:10%;}
#accountList .top_div .txt-input{width:80%;margin-right:10px;}
#accountList .top_div .sw_div .btn{width:10%;}
#accountList .top_div .sw_div .btn-ok{width:20%;margin-left:10px;}
#accountList .table_div{justify-content: flex-start;}
#accountList table{width:100%;border-collapse:collapse;font-size:0.9rem;}
#accountList table td{text-align:center;}
#accountList table th{height:20px;padding:.5rem;border-bottom:2px solid #ACACAC;}
#accountList table thead tr{background:#c0e8b8;cursor:pointer}
#accountList table tbody tr{cursor:pointer;height:45px;}
#accountList table tbody tr:hover{background:#fafbc3}

#accountList table tbody td{height:30px;padding:.5rem;border-bottom:1px solid #CECECE;}
#accountList table tbody td:last-child{padding:0.2rem;}
#accountList table .redcircle{margin:0 auto;}

#accountList .view_mobi{display:none; flex-flow: row wrap;justify-content: center;}
#accountList .view_mobi .mobiv_div{width:270px;min-width:200px;border:1px solid #CECECE; border-radius:10px;padding:0.8rem;margin-right:10px; margin-bottom:20px;}
#accountList .view_mobi .mobiv_div div{display:flex;}
#accountList .view_mobi .mobiv_div .m_line2{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#accountList .view_mobi .mobiv_div .m_line4{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#accountList .view_mobi .mobiv_div .m_line1 div{align-items: center;}
#accountList .view_mobi .mobiv_div .m_line6 div{justify-content: flex-end;margin-top:20px;}
#accountList .view_mobi .btn-no{width:80px;height:35px; }
#accountList .view_mobi .paging_div .pagination{font-size:.7rem;}
#accountList .topadm{border:1px solid #0C77FB !important}

@media (max-width:1200px){
  #accountList .top_div div:first-child{width:20%;}
  #accountList .top_div div:nth-child(2){width:70%;}
}
@media (max-width:1000px){
  #accountList .view_mobi{display:flex;}
  #accountList .table_div{display:none;}
  
}
@media (max-width:786px){
  #accountList .top_div{flex-direction: column;}
  #accountList .top_div div:first-child{width:100%;}
  #accountList .top_div div:nth-child(2){display:flex;align-items: center;width:100%;margin-top:10px;}
  #accountList .top_div div:nth-child(2) .btn{height:35px;width:50px;}
  #accountList .top_div div:nth-child(2) .btn-ok{width:100px;}
  
  #accountList .view_mobi .mobiv_div{width:100%;}
}
@media (max-width:400px){
  #accountList .top_div div:nth-child(2){flex-direction:column}
  #accountList .top_div div:nth-child(2) .txt-input{width:100%;margin:0;}
  #accountList .top_div div:nth-child(2) .btn{width:100%;margin-top:10px;}
  #accountList .top_div div:nth-child(2) .btn-ok{margin-left:0;}
}


/*
  관리자 등록/수정
*/
#accountReg .page_title div{width:220px;}
#accountReg form{width:80%;margin:0 auto}
#accountReg .pw_txt{font-size:0.8rem;font-weight:700;}
#accountReg .row{margin-bottom:20px;width:90%;}
#accountReg .error{font-size:0.9rem;margin-left:10px;}
#accountReg #uid{font-size:20px;}
#accountReg #upw{margin-bottom:20px;}
#accountReg .posi{display:flex;}
#accountReg .posi .wv-2:first-child .txt-input{width:90%;}
#accountReg .pil{color:red;font-weight:700;}
#accountReg .rad_row{justify-content: space-around;}
#accountReg .rad_row label{text-align:center;}
#accountReg .rad_row div{flex-direction: column;align-items: center;}
#accountReg .rad_row div img{width:80px;cursor:pointer;}
#accountReg .btn_row{width:100%;height:50px;}
#accountReg .btn_row .btn_div{width:100%;height:80%;justify-content: center;}
#accountReg .btn_row .btn_div .btn{width:40%;}
#accountReg .btn_row .btn_div .btn-ok{margin-right:20px;}
#accountReg .btn_row .btn-no{width:20%;height:40px;}

@media (max-width:1100px){
  #accountReg .posi{flex-direction: column;}
  #accountReg .posi div{width:100%;}
  #accountReg .posi .wv-2:first-child{margin-bottom:20px}
  #accountReg .posi .wv-2:first-child .txt-input{width:100%}
}
@media (max-width:768px){
  #accountReg{width:70%;}
  #accountReg .rad_row div img{width:50px;cursor:pointer;}
  #accountReg .btn_row{flex-direction:column;height:80px;}
  #accountReg .btn_row .btn_div{width:100%;height:40px;justify-content: space-between;}
  #accountReg .btn_row .btn_div .btn{width:49%;margin:0;}
  #accountReg .btn_row .btn-no{width:100%;height:40px;margin-top:10px;}
}



/*
  관리자 로그
*/
#logList .page_title div{width:180px;}
#logList .top_div{width:100%;margin-bottom:20px;}
#logList .top_div div:first-child{width:100px;margin-right:10px;}
#logList .top_div div:last-child{width:80%;}
#logList .top_div input:first-child{width:80%;margin-right:10px;}
#logList .top_div input:last-child{width:100px;}
#logList table{width:100%;text-align:center;border-collapse: collapse;}
#logList table th{height:20px;padding:.5rem;border-bottom:2px solid #ACACAC;}
#logList table td{height:30px;padding:.5rem;border-bottom:1px solid #CECECE;}
#logList table thead tr{background:#c0e8b8}
#logList table tbody tr:hover{background:#fafbc3}
#logList table td:first-child{width:6%;}
#logList table td:nth-child(2){width:10%}
#logList table td:nth-child(3){width:20%}
#logList table td:nth-child(4){width:40%}
#logList table td:last-child{width:10%}
#logList table .pagin{border:0;padding-top:20px;}

#logList .mobi_div{width:100%;padding:.5rem;display:flex;flex-flow: row wrap;display:none;}
#logList .mobi_div .log_div{border:1px solid #CECECE;border-radius: 10px;width:43%;padding:.7rem;margin-right:15px;margin-top:15px;}
#logList .mobi_div .log_div div{display:flex;justify-content: space-between;white-space:break-spaces;word-break:break-all;line-height:30px;}
#logList .mobi_div .log_div > div:nth-child(2){border-top:1px dotted #444;margin:5px 0;padding:5px 0;border-bottom:1px dotted #444;}
#logList .mobi_div .log_div .line_3{max-height:100px;overflow:auto}
#logList .mobi_div .log_div b{color:#0C77FB}
#logList .nothing{height:100px;text-align:center;}
#logList .mobi_div .pagin{display:flex;justify-content: center;width:100%;}

@media (max-width:900px){
  #logList .table_div{display:none;}
  #logList .mobi_div{display:flex;}
  #logList .mobi_div .log_div{width:100%;}
}
@media (max-width:500px){
  #logList .top_div{flex-direction:column}
  #logList .top_div div:first-child{width:92%}
  #logList .top_div .sel-select{width:100%;}
  #logList .top_div div:last-child{margin-top:10px;width:92%;}
  #logList .top_div div:last-child .btn{height:35px;}
}
@media (max-width:400px){
  #logList{width:100%}
  #logList .top_div div:last-child{flex-direction:column}
  #logList .top_div div:last-child .txt-input{width:100%}
  #logList .top_div div:last-child .btn{width:100%;margin-top:10px;}
}


/*
  문의 리스트
*/
#mooniList .row{display:flex;justify-content: space-between;margin-bottom:20px;}
#mooniList .row .row_sel{width:30%;}
#mooniList .row select{width:30%;}
#mooniList .row .row_btn{display:flex;width:70%;justify-content: space-between;}
#mooniList .row .row_btn .txt_div{width:80%;display:flex;align-items: center;}
#mooniList .row .row_btn .txt-input{width:70%;margin-right:10px;}
#mooniList .row .row_btn .btn{width:100px;height:35px;}
#mooniList .row .row_btn .btn-ok{width:150px;height:35px;}
#mooniList .noans{font-weight:700;color:red;}
#mooniList .yans{font-weight:700;color:blue;}
#mooniList table{width:100%;text-align:center;border-collapse: collapse;font-size:0.9rem;}
#mooniList table th{height:20px;padding:.5rem;border-bottom:2px solid #ACACAC;}
#mooniList table tr{cursor:pointer;}
#mooniList table thead tr{background:#c0e8b8}
#mooniList table tbody tr:hover{background:#fafbc3}
#mooniList table td{height:30px;padding:.8rem;border-bottom:1px solid #CECECE;}
#mooniList table td:first-child{width:3%;}
#mooniList table td:nth-child(2){width:8%}
#mooniList table td:nth-child(3){width:6%}
#mooniList table td:nth-child(4){width:8%}
#mooniList table td:nth-child(5){width:6%}
#mooniList table td:nth-child(6){width:20%}
#mooniList table td:nth-child(7){width:10%;}
/* #mooniList table td:nth-child(8){width:10%;} */
#mooniList table td:last-child{width:4%}
#mooniList table .pagin{border:0;padding-top:20px;}
#mooniList .view_mobi{display:none; flex-flow: row wrap;justify-content: center;}
#mooniList .view_mobi .mobiv_div{width:300px;min-width:200px;border:1px solid #CECECE; border-radius:10px;padding:0.5rem;margin-right:10px; margin-bottom:10px;}
#mooniList .view_mobi .mobiv_div div{display:flex;}
#mooniList .view_mobi .mobiv_div .m_line2{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#mooniList .view_mobi .mobiv_div .m_line4{margin:5px 0;border-top:1px solid #eee;padding:5px 0;border-bottom:1px solid #eee;}
#mooniList .view_mobi .paging_div .pagination{font-size:.7rem;}

#mooniList .modal{
  width:30%;min-height:200px;max-height:800px; background:#fff;position:fixed;z-index:510;top:30%;left:50%;
  transform:translate(-50%,-30%);padding:2rem;display:none;border:2px solid #777;border-radius:10px;
  box-shadow:1px 1px #444;
}
#mooniList .modal .modal_title{margin:0;padding:0;font-size:1.5rem;margin-bottom:30px;background:#f0dcf1;width:60%;border-bottom:1px solid #444;}
#mooniList .modal_mtype{display:none;border:1px solid #CECECE;}
#mooniList .modal_mtype .top_div{justify-content: flex-start;align-items: center;}
#mooniList .modal_mtype .top_div .txt-input{width:60%;margin-right:20px;}
#mooniList .modal_mtype .top_div .btn{width:20%;height:35px;}
#mooniList .modal_mtype .bottom_div{border:1px solid #999;min-height:100px;margin:20px 0;padding:5px 20px;max-height:150px;overflow-y: auto;}
#mooniList .modal_mtype .btn_div input{height:35px;}
#mooniList .modal_mtype .mtype_row{display:flex;justify-content: space-between;margin-bottom:10px;}
#mooniList .modal_mtype .mtype_row:hover{background:#ffe5e5;}
#mooniList .modal_mtype .mticon{cursor:pointer}
#mooniList .modal_answer .mcont{max-height:300px;overflow-y: auto;}
#mooniList .modal_answer .modal_row{display:flex;margin-bottom:20px;width:100%;justify-content: space-between;}
#mooniList .modal_answer .modal_row div{display:flex;width:100%;text-align:left;}
#mooniList .modal_answer .modal_row .row_2{padding:20px 0;border-top:1px dotted #888;border-bottom:1px dotted #888;}
#mooniList .modal_answer .modal_row .row_4{padding:20px 0;border-top:1px dotted #888;border-bottom:1px solid #0B77C7;}
#mooniList .modal_answer .btn_row{margin-top:30px;margin-bottom:0;}
#mooniList .modal_answer .btn_row input{height:35px;}


@media (max-width:1600px){
}

@media (max-width:1200px){
  #mooniList .row{flex-direction:column}
  #mooniList .row .row_sel{width:100%;margin-bottom:20px;}
  #mooniList .row .row_sel select{width:20%;}
  #mooniList table td:nth-child(3){display:none;}
  #mooniList table th:nth-child(3){display:none;}
  #mooniList table td:last-child{width:8%}
  #mooniList .modal{width:46%;}
}

@media (max-width:1100px){
  #mooniList .row .row_btn{width:100%;justify-content: flex-start;}
  #mooniList .row .row_btn .txt_div{width:70%;}
  #mooniList .row .row_btn .add_div{width:30%}
  #mooniList .row .row_btn .txt_div .txt-input{width:70%;}
  #mooniList .row .row_btn .add_div input{width:100%}
  #mooniList .row .row_sel select{width:30%;}
}

@media (max-width:930px){
  #mooniList table td:nth-child(4){display:none;}
  #mooniList table th:nth-child(4){display:none;}
  #mooniList table td:nth-child(5){width:10%}
}

@media (max-width:768px){
  #mooniList .row .row_sel select{width:30%;}
  #mooniList .row .row_btn .txt_div{width:100%;}
  #mooniList .row .row_btn .add_div{margin-top:10px;}
  #mooniList .row .row_btn .add_div input{width:200px;}
  #mooniList .row .row_btn{flex-direction:column;}
  #mooniList .row .row_btn .txt_div .txt-input{width:70%;}
  
  #mooniList table{display:none;}
  #mooniList .view_mobi{display:flex;}
  #mooniList .view_mobi .mobiv_div{width:100%;}
  
  #mooniList .modal{ont-size:0.8rem;width:60%;}
}
@media (max-width:600px){
  #mooniList .modal{width:80%;}
}
@media (max-width:500px){
  #mooniList .modal_answer .modal_row{margin-bottom:0;}
  #mooniList .modal_answer .modal_row div{flex-direction: column;}
  #mooniList .modal_answer .modal_row .wv-2:first-child{margin-bottom:10px;}
  
  #mooniList .modal_answer .modal_row .row_1{margin-bottom:10px;}
  #mooniList .modal_answer .modal_row .row_2{padding:10px 0;}
  #mooniList .modal_answer .modal_row .row_3{margin:10px 0;}
  #mooniList .modal_answer .modal_row .row_4{padding:10px 0;}
  #mooniList .modal_answer .mcont{padding-top:10px;}
  /* #mooniList .modal_answer .modal_row .wv-2{width:30%;} */
}

@media (max-width:400px){
  #mooniList .modal{width:90%;}
  #mooniList .row .row_sel{display:flex;flex-direction:column;margin-bottom:0;}
  #mooniList .row .row_sel select{width:100%;margin-bottom:5px;}
  #mooniList .row .row_btn .txt_div{display:flex;flex-direction:column;}
  #mooniList .row .row_btn .txt_div .txt-input{width:100%;margin:0;padding:10px 0;}
  #mooniList .row .row_btn .txt_div .btn{width:100%;margin-top:5px;}
  #mooniList .row .row_btn .add_div{width:100%;margin-top:5px;}
  #mooniList .row .row_btn .add_div input{width:100%;}
  
  #mooniList .modal_mtype .top_div{flex-direction:column;}
  #mooniList .modal_mtype .top_div .txt-input{margin-bottom:10px;width:100%;margin-right:0;}
  #mooniList .modal_mtype .top_div .btn{width:100%;}
}



/*
  포트폴리오 리스트
*/

#portpolList .page_title div{width:240px;}
#portpolList .port_wrap{display:flex;flex-flow:row wrap;padding:.5rem;}
#portpolList .port_wrap .port_div{width:280px;height:100%;margin-right:50px;margin-bottom:50px;}
#portpolList .port_wrap .port_div .top_div{background:#454141;color:#fff;padding:1rem;display:flex;justify-content:space-between;}
#portpolList .port_wrap .port_div .thumb_div{display:flex;width:100%;height:250px;padding:.2rem;}
#portpolList .port_wrap .port_div .thumb_div img{object-fit:contain;width:100%;}
#portpolList .port_wrap .port_div .bottom_div{background:#454141;color:#fff;}
#portpolList .port_wrap .port_div .bottom_div div{display:flex;justify-content:space-between;padding:.2rem;}
#portpolList .port_wrap .port_div .bottom_div .bline2{align-items:flex-end;}
#portpolList .port_wrap .port_div .bottom_div .bline2 .amount{font-size:130%;color:#faf36c}



/*
  포트폴리오 상세
*/
#portpolReg .row{display:flex;width:100%;}
#portpolReg #thumbimg{display:none}
#portpolReg .row .row_wrap .row_cont{display:flex;width:100%;}
#portpolReg .row .row_wrap .row_cont .thumb_div{width:500px;height:300px;border:1px solid #CCC;object-fit: contain;}




/*
  메일 발송 리스트
*/
#mailList .page_title div{width:210px;}
#mailList .top_div{width:100%;justify-content: space-between;margin-bottom:30px;}
#mailList .top_div div{display:flex;}
#mailList .top_div .rleft_div{width:40%;}
#mailList .top_div .rleft_div .sel-select{width:150px;margin-right:10px;}
#mailList .top_div .rleft_div .txt-input{width:100%;}
#mailList .top_div .rright_div{width:60%;justify-content: space-between;}
#mailList .top_div .rright_div .btn{width:100px;margin-left:10px;}
#mailList .top_div .rright_div .btn-ok{width:150px;height:35px;}
#mailList table{width:100%;text-align:center;border-collapse:collapse;font-size:.9rem;}
#mailList table .nadding{text-align:center;}
#mailList table thead tr{background:#c0e8b8}
#mailList table tbody tr{cursor:pointer;}
#mailList table tbody tr:hover{background:#fbeeee}
#mailList table th{border-bottom:2px solid #ACACAC;height:20px;padding:.5rem;}
#mailList table td{padding:10px 0;border-bottom:1px solid #ccc;}
#mailList table td:first-child{width:6%;}
#mailList table td:nth-child(2){width:10%}
#mailList table td:nth-child(3){width:40%}
#mailList table td:nth-child(4){width:10%}
#mailList table td:nth-child(5){width:15%}
#mailList table td:last-child{width:8%}
#mailList table .nadding{border:0;}
#mailList .img_div{width:100px;height:100px;border:1px solid #000;margin:0 auto;}
#mailList .img_div img{width:100%;height:100%;object-fit:cover;}
#mailList .mobi_div{display:none;}
#mailList .mobi_div .nothing{width:100%;text-align:center;height:50px;}

#mailList .modal{
  width:500px;min-height:200px;max-height:800px; background:#fff;position:fixed;z-index:510;top:50%;left:50%;
  transform:translate(-50%,-50%);padding:1rem;border:1.5px solid #ddd; display:none;
}
#mailList .modal .modal_title{margin:0;padding:0;font-size:1.5rem;margin-bottom:30px;background:#f0dcf1;width:60%;border-bottom:1px solid #444;}
#mailList .detail_row{width:100%;display:flex;flex-flow:row wrap;margin-bottom:20px;border-bottom:1px dotted;padding-bottom:10px;}
#mailList .detail_row div:first-child{font-weight:700;width:20%;}
#mailList .detail_row div:last-child{margin-left:50px;width:60%}
#mailList .detail_row .detail_receiv,
#mailList .detail_row .detail_receiv_mail{border:1px solid #ccc;padding:.6rem;overflow-y:scroll;min-height:100px;max-height:100px;display:flex;flex-flow:column nowrap}


@media (max-width:1000px){
  #mailList .top_div{flex-direction:column;align-items: flex-start;}
  #mailList .top_div .rleft_div{align-items: flex-end;width:100%;margin-bottom:10px;}
  #mailList .top_div .rleft_div .sel-select{width:30%;margin-right:10px;}
  #mailList .top_div .rleft_div .txt-input{width:69%;}
  #mailList .top_div .rright_div{width:100%;justify-content: flex-end;}
  #mailList .top_div .rright_div .btn{height:35px;}
  #mailList .pagin_div{width:100%;text-align:center;}
}
@media (max-width:800px){
  #mailList .table_div{display:none;}
  #mailList .modal{width:80%;}
  #mailList .mobi_div{display:flex;flex-wrap:wrap}
  #mailList .mobi_div .news_div{width:100%;height:auto;border:1px solid #CECECE;border-radius:10px;padding:1rem;font-size:.9rem;margin-bottom:10px;}
  #mailList .mobi_div .news_div .line_1{width:100%;justify-content:flex-start;}
  #mailList .mobi_div .news_div .line_1 > div:last-child{display:flex;flex-direction:column;margin-left:15px;}
  #mailList .mobi_div .news_div .line_1 > div:last-child div{width:100%;height:25px;}
  #mailList .mobi_div .news_div .line_1 > div:last-child div:first-child{height:38px;}  
}
@media (max-width:500px){
  #mailList .modal{overflow:auto;height:500px;}
  #mailList .modal .detail_row{flex-direction:column}
  #mailList .modal .detail_row .detail_head{width:100%;}
  #mailList .modal .detail_row div:last-child{width:80%;}
}
@media (max-width:400px){
  #mailList .top_div .rleft_div{flex-direction:column;align-items:flex-start;margin-bottom:10px;}
  #mailList .top_div .rleft_div .sel-select{width:100%;margin-bottom:10px;}
  #mailList .top_div .rleft_div .txt-input{width:100%;}
  #mailList .top_div .rright_div{width:100%;justify-content:space-between;}
  #mailList .top_div .rright_div .btn{margin-left:0;}
  
  #mailList .mobi_div .news_div .line_1{flex-direction:column;text-align:center;}
  #mailList .mobi_div .news_div .line_1 > div:last-child{margin-left:0;margin-top:10px;}
  
  #mailList .modal .modal_title{width:110px;}
  #mailList .modal .detail_row div:last-child{width:100%;margin-left:0;}
  #mailList .modal .detail_row .detail_receiv_mail{word-break: break-all;}
}





/*
  메일 발송
*/
#mailSend form{width:80%;margin:0 auto}
#mailSend .page_title div{width:210px;}
#mailSend .txt-input{width:100%;}
#mailSend .notice{margin-bottom:40px !important;}
#mailSend .notice .row_title{font-weight:700;color:red;}
#mailSend .notice .row_cont span{font-weight:700;color:#0C77FB;}
#mailSend .notice .row_cont b{text-decoration:underline}
#mailSend .row{display:flex;width:100%;margin-bottom:20px;}
#mailSend .row .row_wrap{width:100%;}
#mailSend .temp_div{margin:50px 0;border:1px dotted #aaa;padding-left:1rem;padding-bottom:1rem;}
#mailSend .temp_div .row_wrap{height:100px;display:flex;justify-content: center;flex-direction: column;}
#mailSend .temp_div .row_title{border-bottom:1px solid #CCC;margin-bottom:30px;}
#mailSend .temp_div .row_cont{display:flex;justify-content: center;}
#mailSend .img_div{display:none}
#mailSend .row_cont #templ2{margin-left:50px;}
#mailSend .row_cont #templ3{margin-left:50px;}
#mailSend textarea{width:100%;min-height:150px;overflow-y:auto}

#mailSend .img_row{display:flex;flex-direction:column}
#mailSend .img_row .row_wrap{width:100%;flex-flow:row wrap;}
#mailSend .img_row .row_wrap .row_cont{display:flex}
#mailSend .img_row .btn{width:100px;height:35px;}

#mailSend .sendbtn{height:50px;width:20%;}
#mailSend .excel_div{display:flex;justify-content: flex-end;}
#mailSend .target_div{border:1px solid #AAA;margin-top:30px;min-height:200px;}
#mailSend .target_div .line_div{display:flex;justify-content:space-between;padding:0 10px;height:35px;}
#mailSend .target_div .line_div .pname{width:20%}
#mailSend .target_div .line_div .pmail{width:70%}

#mailSend #preview1{width:650px;min-height:700px;height:100%;display:none;position:absolute;top:25%;left:50%;transform:translate(-50%, -20%);z-index:510;background-size:contain}
#mailSend #preview1 #temp1{width:auto;height:auto;max-width:100%;max-height:100%;}
#mailSend #preview2{width:650px;min-height:700px;height:100%;display:none;position:absolute;top:25%;left:50%;transform:translate(-50%, -20%);z-index:510;background-size:contain}
#mailSend #preview2 #temp2{width:auto;height:auto;max-width:100%;max-height:100%;}






/*
  페이지네이션
*/
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}
.page-item span{line-height:28px;}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}
.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
.pager{padding-left:0;margin:20px 0;text-align:center;list-style:none}

